body {
  box-sizing: border-box;
  font-family: "segoe-ui-emoji-normal", sans-serif;
  margin: 0 auto;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #08589f;
}

input {
  border: none;
}

/* SECTION LOGO LOS SIMPSONS Y NAVEGADOR MENU ----------------------------------------------- */
.logo-simpsons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 200px;
  transition: all 1s ease-in-out;
}

.logo-simpsons:hover {
  transform: rotate(25deg);
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "simpsonfont";
  font-size: 22px;
  padding: 0;
  list-style: none;
  margin: 20px 5px;
  border-radius: 8px;
  background-color: #0d7cc1;
}

.nav-menu-li {
  background-color: #0d7cc1;
  padding: 20px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  background-color: #fed420;
  padding: 15px;
  border-radius: 8px;
}

/* SECTION DE PORTADA CON LOGIN ----------------------------- */

.portada {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #08589f;
  border-radius: 8px;
  padding: 8px;
  margin: 5px;
}

.foto-portada {
  width: 70%;
  border-radius: 10px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.foto-portada img {
  width: 100%;
  border-radius: 10px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  background: rgb(20, 103, 173);
  background: linear-gradient(
    0deg,
    rgba(20, 103, 173, 1) 0%,
    rgba(79, 180, 236, 1) 50%,
    rgba(20, 103, 173, 1) 100%
  );
  border: none;
  color: white;
}

.form-wrapper h2 {
  font-family: "simpsonfont";
  margin-top: 35px;
}

.fas {
  font-size: 80px;
  color: #08589f;
  padding: 30px;
}

.boton {
  margin-top: 15px;
  border: #0d7cc1 solid 1px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: #0d7cc1;
  background-color: #b4e3f7;
}

.boton:hover {
  background-color: #0d7cc1;
  color: white;
}

.pie {
  margin: 30px;
  font-size: 12px;
  text-align: center;
}

.pie a {
  color: white;
}

.input {
  background-color: #b4e3f7;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 15px;
}

::placeholder {
  color: #0d7cc1;
}

/* SECTION HOMERO Y MARGE ---------------------------------------------------------------------*/

.homero-marge img {
  height: 400px;
}

.homero-marge h2 {
  font-family: "simpsonfont";
  font-size: 25px;
  color: #0d7cc1;
  background-color: #fed420;
  padding: 15px;
  border-radius: 8px;
}

.homero-marge p {
  padding: 10px;
  text-align: center;
}

.homero-marge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 30px;
}

.Marge,
.Homero {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #08589f solid 2px;
  border-radius: 8px;
  margin: 5px;
  padding-top: 10px;
}

/* SECTION HIJOS ----------------------------------------------------------------------------------*/

.Hijos img {
  height: 300px;
}

.Hijos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.Hijos h2 {
  font-family: "simpsonfont";
  font-size: 25px;
  color: #0d7cc1;
  background-color: #fed420;
  padding: 15px;
  border-radius: 8px;
}

.Hijos p {
  padding: 10px;
  text-align: center;
}

.Lisa,
.Bart,
.Maggie {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #08589f solid 2px;
  border-radius: 8px;
  margin: 5px;
  padding-top: 10px;
}

/* FORMULARIO DE REGISTRO -------------------------------------------------------------------------*/

.registro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 10px;
  background-color: #b4e3f7;
  border: #0d7cc1 solid 2px;
  border-radius: 8px;
}

.registro-form,
.registro-form2, .bartolome {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #08589f solid 2px;
  border-radius: 8px;
  margin: 5px;
  background-color: #0d7cc1;
  height: 500px;
}

.registro-form h2 {
  font-family: "simpsonfont";
  font-size: 30px;
  color: white;
  text-align: center;
}

.registro-form input {
  border: #08589f 1px solid;
  background-color: #b4e3f7;
  border-radius: 5px;
  padding: 5px;
}

.input-centrado {
  width: 100%;
}

.gender {
  font-size: 14px;
  color: white;
}

.registro-form2 p {
  font-size: 14px;
  color: white;
  text-align: center;
}




/* SECTION SOCIAL ----------------------------------------------------- */

.social {
  display: flex;
  justify-content: center;
  background-color: #0d7cc1;
  border-radius: 8px;
  border: #08589f solid 2px;
  margin-top: 3px;
}

.social i {
  font-size: 40px;
  color: white;
  margin: 5px;
}

.social i:hover {
  color: #fed420;
}

/* FOOTER AL FIN ------------------------------------------------------------------ */

footer {
  background: rgb(20, 103, 173);
  background: linear-gradient(
    0deg,
    rgba(20, 103, 173, 1) 0%,
    rgba(79, 180, 236, 1) 50%,
    rgba(20, 103, 173, 1) 100%
  );
  border-radius: 8px;
  border: #08589f solid 2px;
  font-size: 20px;
  padding: 5px;
  margin-top: 3px;
  text-align: center;
  color: #08589f;
  font-family: "simpsonfont";
}

/* BART FIJO EN EL COSTADO DERECHO ---------------------------------------- */
.bart-fijo {
  position: fixed;
  right: 0;
  top: 20px;
  height: 160px;
}

/* media query ------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  .registro {
    grid-template-columns: 1fr;
    grid-gap: none;
    margin-top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .logo-simpsons {
    height: 100px;
    transition: none;
  }

  .logo-simpsons:hover {
    transform: none;
  }

  .nav-menu {
    flex-wrap: wrap;
  }

  .nav-menu-li {
    width: 100%;
    text-align: center;
    border: #b4e3f7 solid 1px;
  }

  .portada {
    flex-wrap: wrap;
  }

  .foto-portada {
    width: 100%;
  }

  .form-wrapper {
    width: 100%;
    margin-top: 10px;
  }

  .form-wrapper h2 {
    margin-top: 3px;
    font-size: 15px;
  }

  .fas {
    font-size: 40px;

    padding: 5px;
  }

  .boton {
    margin-top: 5px;
  }

  .pie {
    margin: 5px;
    font-size: 12px;
  }

  .input {
    background-color: #b4e3f7;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .homero-marge {
    grid-template-columns: 1fr;
    grid-gap: none;
    margin-top: 5px;
  }

  .Hijos {
    grid-template-columns: 1fr;
    grid-gap: none;
    margin-top: 5px;
  }

  .bartolome {
    height: 300px;
  }
  .bartolome img {
    height: 200px;
  }

  .registro {
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: none;
    margin-top: 5px;
  }

}
